.wave{
  font-size: 50px;
  white-space: pre;
}

.wave span {
  display: inline-block;
  animation: anim 5s infinite ease-in-out;
  opacity: 0.2;
}

@keyframes anim{
  0%, 100%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}